<!DOCTYPE html>
<html ng-app="GuestApplyApp">

<head>
    <meta charset="utf-8">
    <!--
    <meta name="viewport" content="width=device-width, initial-scale=1">
    -->
    <title>校園無線網路網卡登記系統</title>
    <link rel="icon" type="image/x-icon" href="images/nutc.ico">
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
    <!-- Load Bootstrap and JQuery -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootpag/1.0.7/jquery.bootpag.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
    <script>
    var app = angular.module('GuestApplyApp', [])
        .factory('guestService', function() {
            return {
                addGuest: function($scope, $http) {
                	// 檢查是否達新增上限
		            if ($scope.guests.length >= $scope.guestLimit) {
		                alert('申請數量已達上限。');
		                return;
		            }

                    console.info($scope.email);
                    console.info($scope);

                
                    // Post Add by Ajax
                    jQuery('#ajaxWaitingModal').modal("show");
                    $http({
                        method: 'POST',
                        url: '/web/guest/add',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        data: {
                            crtUid: $scope.applicantId,
                            crtName: $scope.applicantName,
                            applicantId: $scope.applicantId,
                            applicantName: $scope.applicantName,
                            email: $scope.email

                        }
                    }).then(function successCallback(response) {
                        // 檢查是否有檢核錯誤
                        if (response.data.status === 0) {
                            // 新增一筆資料
                            $scope.guests.push(response.data.data);
                            // 清除 Form
                            $scope.email = '';
                        } else if (response.data.status === -1) {
                            alert(response.data.message);
                        } else {
                            alert(response);
                        }
                        // 關閉等待視窗
                        jQuery('#ajaxWaitingModal').modal("hide");

                    }, function errorCallback(response) {
                        alert("執行發生錯誤!!");
                        var myWindow = window.open("", "", "width=600,height=300", false);
                        myWindow.document.write(JSON.stringify(response.data));
                        // 關閉等待視窗
                        jQuery('#ajaxWaitingModal').modal("hide");
                    });
                }
            }
        });

    app.controller('GuestApplyCtrl', function($scope, $http, guestService) {


        // Submit 新增
        $scope.submit = function() {
            

            // 檢查Email 格式

            if ($scope.addMode == true) {
                guestService.addGuest($scope, $http);
            } else {
                alert('系統前端網頁異常! 請重新登入!!');
            }


        };

        // Delete UserDevice
        $scope.deleteGuest = function(deleteIndex) {
            var guestId = $scope.guests[deleteIndex]['guestId'];
			var logUid = $scope.applicantId;
			var logName = $scope.applicantName;
			
			console.info(deleteIndex)
			console.info(guestId)
			
            jQuery('#ajaxWaitingModal').modal("show");
            $http({
                method: 'DELETE',
                url: '/web/guest/delete',
                params: {
                    'guestId': guestId,
                    'logUid': logUid,
                    'logName': logName
                }
            }).then(function successCallback(response) {
                console.info(response);
                // 刪除資料
                $scope.guests.splice(deleteIndex, 1);

                // 關閉等待視窗
                jQuery('#ajaxWaitingModal').modal("hide");
                
                // 切換回 新增 模式
                $scope.setAddMode();
            }, function errorCallback(response) {
                alert("執行發生錯誤!!");
                var myWindow = window.open("", "", "width=600,height=300", false);
                myWindow.document.write(JSON.stringify(response.data));
                // 關閉等待視窗
                jQuery('#ajaxWaitingModal').modal("hide");

            });
            
        }

        // 設定為 新增模式
        $scope.setAddMode = function() {
            $scope.addMode = true;
            $scope.email = '';
        }

        // 初始化作業
        $http({
            method: 'GET',
            url: '/web/guest/initial'
        }).then(function successCallback(response) {
            console.info(response);
            $scope.status = response.data.status;

			// 登入驗證失敗，重新導向 SSO PORTAL
            if ($scope.status == -1) {
            	window.location.href = 'https://eip.ncut.edu.tw/index.do';
                return;
            }

            $scope.guestLimit = response.data.data.guestLimit;
            $scope.guests = response.data.data.guests;
            $scope.applicantId = response.data.data.applicantId;
            $scope.applicantName = response.data.data.applicantName;
            $scope.applicantTitle = response.data.data.applicantTitle;

            // 預設為 新增模式
            $scope.addMode = true;

        }, function errorCallback(response) {
            console.info(response);

        });

    });
    </script>
    <style>
    .modal-vertical-centered-for-ajax_waiting {
        transform: translate(0, 200%) !important;
        -ms-transform: translate(0, 200%) !important;
        -webkit-transform: translate(0, 200%) !important;
    }
    </style>
</head>

<body ng-controller='GuestApplyCtrl'>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal well well-sm">
                    <img src="/images/ban.jpg" class="img-fluid center-block" alt="Responsive image">
                </div>
            </div>
            <div class="col-md-12">
                <form ng-submit="submit()">
                    <div class="form-horizontal well well-sm">
                        <fieldset>
                            <legend>
                                <h3><p class="text-center">校園無線網路臨時帳號申請系統</p></h3></legend>
                            <div class="form-group">
                                <label class="col-md-2 control-label">帳號 ID</label>
                                <div class="col-md-3">
                                    <input ng-model="applicantId" class="form-control" type="text" disabled required>
                                </div>
                                <label class="col-md-2 control-label">申請者姓名</label>
                                <div class="col-md-3">
                                    <input ng-model="applicantName" class="form-control" type="text" disabled required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">職稱</label>
                                <div class="col-md-3">
                                    <input ng-model="applicantTitle" class="form-control" type="text" disabled required>
                                </div>
                                <label class="col-md-2 control-label">Email</label>
                                <div class="col-md-3">
                                    <input ng-model="email" class="form-control" placeholder="account123@gmail.com" type="text" required>
                                </div>
                            </div>
                            <!-- add button -->
                            <div class="form-group" ng-show="addMode">
                                <div class="col-md-offset-4 col-md-3">
                                    <button type="submit" class="btn btn-primary btn-block" ng-disabled="status != 0">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true">申請臨時帳號</span>
                                    </button>
                                    <p class="help-block">每個用戶最多同時申請 {{guestLimit}} 個臨時帳號</p>
                                </div>
                            </div>
                            
                        </fieldset>
                    </div>
                </form>
            </div>
            <div class="col-md-12">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>編號</th>
                            <th>帳號</th>
                            <th>密碼</th>
                            <th>Email</th>
                            <th>使用結束日</th>
                            <th>申請者 ID</th>
                            <th>申請者 姓名</th>
                            <th>申請日期</th>
                            <th>申請時間</th>
                            <!--<th>刪除</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="guest in guests">
                            <th>{{ $index + 1}}</th>
                            <td>{{guest.guestId}}</td>
                            <td>{{guest.guestPwd}}</td>
                            <td>{{guest.email}}</td>
                            <td>{{guest.endDate}}</td>
                            <td>{{guest.applicantId}}</td>
                            <td>{{guest.applicantName}}</td>
                            <td>{{guest.crtDate}}</td>
                            <td>{{guest.crtTime}}</td>
                            
                            <!--
                            <td>
                                <button type="button" class="btn btn-sm btn-danger" ng-click="deleteGuest($index)">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </td>
                            -->
                        </tr>
                    </tbody>
                </table>
                <div class="col-md-12 text-center">
                    <div id="page-selection"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Ajax Waiting Modal-->
    <div class="modal fade" id="ajaxWaitingModal" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-vertical-centered-for-ajax_waiting">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5>Processing.....</h5>
                </div>
                <div class="modal-body">
                    <div id="ajaxWaiting" class="ajaxWaiting">
                        <img src="images/progressBar.gif">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
