<!DOCTYPE html>
<html ng-app="LoginApp">


<header>

    <meta charset="utf-8">
    <!--
    <meta name="viewport" content="width=device-width, initial-scale=1">
    -->
    <title>校園無線網路網卡登記系統 登入頁面</title>
    <link rel="icon" type="image/x-icon" href="images/nutc.ico">
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
    <!-- Load Bootstrap and JQuery -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootpag/1.0.7/jquery.bootpag.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>



</header>
<script>
    var app = angular.module('LoginApp', [])
        .factory('userService', function() {
            return {
  
                gotologin: function($scope, $http) {
                
                    // Post Add by Ajax
                    jQuery('#ajaxWaitingModal').modal("show");
                    $http({
                        method: 'POST',
                        url: '/web/user/login',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        data: {
                        	cn: $scope.cn,
                            userPassword: $scope.userPassword

                        }
                    }).then(function successCallback(response) {
                        // 檢查是否有檢核錯誤
                        if (response.data.status === 0) {
                            
                            window.location.href = './applypage.html';
                            return;
                            
                        } else if (response.data.status === -1) {
                            alert(response.data.message);
                        } else {
                            alert(response);
                        }
                        // 關閉等待視窗
                        jQuery('#ajaxWaitingModal').modal("hide");

                    }, function errorCallback(response) {
                        alert("執行發生錯誤!!");
                        var myWindow = window.open("", "", "width=600,height=300", false);
                        myWindow.document.write(JSON.stringify(response.data));
                        // 關閉等待視窗
                        jQuery('#ajaxWaitingModal').modal("hide");
                    });
                }
                
            }
        });

    app.controller('LoginCtrl', function($scope, $http, userService) {

        // Submit 登入
        $scope.submit = function() {
            userService.gotologin($scope, $http);
            return;
        }
    });


</script>



<body ng-controller='LoginCtrl'>


    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="form-horizontal well well-sm">
                    <img src="/images/ban.jpg" class="img-fluid center-block" alt="Responsive image">
                </div>
            </div>

            <div class="col-md-12">
                <form ng-submit="submit()">
                    <div class="form-horizontal well well-sm">
                        <fieldset>
                            <legend>
                                <h3><p class="text-center">校園無線網路網卡登記系統</p></h3></legend>
                            <div class="form-group">
                                <label class="col-md-2 col-md-offset-3 control-label">帳號</label>
                                <div class="col-md-3">
                                    <input ng-model="cn" class="form-control" type="text" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 col-md-offset-3 control-label">密碼</label>
                                <div class="col-md-3">
                                    <input ng-model="userPassword" class="form-control" type="password" required>
                                </div>
                            </div>

                            <!-- add button -->
                            <div class="form-group">
                                <div class="col-md-offset-5 col-md-3">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"> 登入</span>
                                    </button>
                                    <p class="help-block">若登入有問題 可連繫 OOOO-OOOO</p>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                </form>
            </div>


         
        </div>
    </div>


    <!-- Ajax Waiting Modal-->
    <div class="modal fade" id="ajaxWaitingModal" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-vertical-centered-for-ajax_waiting">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5>Processing.....</h5>
                </div>
                <div class="modal-body">
                    <div id="ajaxWaiting" class="ajaxWaiting">
                        <img src="images/progressBar.gif">
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>


</html>